<!DOCTYPE html>
<html>
  <head>
    <h1 align = "Center" >Temperature Monitor</h1>
  </head>

  <body>
	<h4 align = "Center"> Threshold : 29 <sup> 0 </sup> C </h4>
	 <table border="1" style="width:30%"  align="center" >
		  <tr  align="center" bgcolor="silver">
			    <td> Description </td>
			    <td>  <sup>0 </sup> C  </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-1    </td>
			    <td>    {{cf1t1}}  <sup> 0 </sup> C   </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-5    </td>
			    <td>   {{cf2t1}}  <sup> 0 </sup> C  </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-2    </td>
			    <td>   {{cf3t1}}  <sup> 0 </sup> C </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-3    </td>
			    <td>   {{cf4t1}} <sup> 0 </sup> C </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-4    </td>
			    <td>   {{cf5t1}}  <sup> 0 </sup> C </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-6    </td>
			    <td>   {{cf6t1}}  <sup> 0 </sup> C </td>
		  </tr>
	</table> 
	<h4 align="center" >  Last updated :  {{cftime}} </h4> 
  </body>
</html>

