<!DOCTYPE html>
<html>
  <head>
    <h1 align = "Center" >Temperature Monitor - Hackathon  2015 </h1>
  </head>

  <body>
	<h4 align = "Center"> Threshold : 29 <sup> 0 </sup> C </h4>
	 <table border="1" style="width:30%"  align="center" >
		  <tr  align="center" bgcolor="silver">
			    <td> Description </td>
			    <td>  <sup>0 </sup> C  </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-1    </td>
			    <td>   <font color="red"> 30  <sup> 0 </sup> C   </font>   </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-5    </td>
			    <td>   <font color="red"> 29  <sup> 0 </sup> C </font>  </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-2    </td>
			    <td>   <font color="blue"> 26  <sup> 0 </sup> C </font>  </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-3    </td>
			    <td>   <font color="blue"> 26  <sup> 0 </sup> C </font>  </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-4    </td>
			    <td>   <font color="green"> 22  <sup> 0 </sup> C </font>  </td>
		  </tr>
		  <tr align="center">
			    <td>         Conf Room CF-6    </td>
			    <td>   <font color="green"> 23 <sup> 0 </sup> C </font>  </td>
		  </tr>
	</table> 
	<h4 align="center" >  Last updated :  {{cftime}}  </h4> 
  </body>
</html>

